# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
.venv*/
.env
.env.*

# Tests
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Helm
charts/
*.tgz
